<div>
    <button mat-icon-button>
        <mat-icon [matBadge]="emailCount" [matBadgeHidden]="emailCount<=0" matBadgeColor="warn">email</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon [matBadge]="newsCount" [matBadgeHidden]="newsCount<=0" matBadgeColor="warn">rss_feed</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleChat()">
        <mat-icon [matBadge]="chatCount" [matBadgeHidden]="chatCount<=0" matBadgeColor="warn">chat</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>favorites</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>help</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" xPosition="before">
        <div>
            <button mat-menu-item routerLink="/login">
                <mat-icon>lock</mat-icon>
                <div class="menu-label" fxShow fxHide.lt-sm>Login</div>
            </button>
            <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                <div class="menu-label" fxShow fxHide.lt-sm>Profile</div>
            </button>
            <button mat-menu-item routerLink="/password">
                <mat-icon>security</mat-icon>
                <div class="menu-label" fxShow fxHide.lt-sm>Password</div>
            </button>

            <button mat-menu-item routerLink="/settings">
                <mat-icon>settings</mat-icon>
                <div class="menu-label" fxShow fxHide.lt-sm>Settings</div>
            </button>
            <button mat-menu-item>
                <mat-icon>lock_open</mat-icon>
                <div class="menu-label" fxShow fxHide.lt-sm>Logout</div>
            </button>
        </div>
    </mat-menu>
</div>

