<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="./assets/logo.png" style="width:50px;" />
    <div fxShow fxHide.lt-sm>{{title}}</div>
    <span fxFlex></span>
    <app-menu (messageEvent)="receiveMessage($event)"></app-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container hasBackdrop="false">
  <mat-drawer #drawer mode="push">
    <app-drawer></app-drawer>
  </mat-drawer>

  <mat-drawer-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="100%">
      <div fxFlex="auto">
        <router-outlet></router-outlet>
      </div>
      <div fxFlex="300px" *ngIf="chatVisible">
        <app-chat></app-chat>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

