<mat-selection-list>
    <mat-list-item>
        <button mat-menu-item routerLink="/dashboard" class="dashboard-icon">
            <mat-icon>dashboard</mat-icon>
            <div class="menu-label" ffxShow fxHide.lt-sm>Dashboard</div>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-menu-item routerLink="/calendar" class="calendar-icon">
            <mat-icon>event</mat-icon>
            <div class="menu-label" fxShow fxHide.lt-sm>Calendar</div>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-menu-item routerLink="/email" class="email-icon">
            <mat-icon>email</mat-icon>
            <div class="menu-label" fxShow fxHide.lt-sm>EMail</div>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-menu-item routerLink="/news" class="news-icon">
            <mat-icon>rss_feed</mat-icon>
            <div class="menu-label" fxShow fxHide.lt-sm>News</div>
        </button>
    </mat-list-item>
    <mat-list-item>
        <button mat-menu-item routerLink="/conference" class="conference-icon">
            <mat-icon>video_call</mat-icon>
            <div class="menu-label" fxShow fxHide.lt-sm>Conference</div>
        </button>
    </mat-list-item>
</mat-selection-list>

